@charset "utf-8";
/* CSS Document */


<!--Styling for the web pages-->
.bg-1{
	color:#FFFFFF;
	background-color:#0080C0;
}

.bg-3{
	color: #333;
	background-color: #FFFFFF;
}

.container-fluid{
	padding-top:70px;
	padding-bottom: 70px;
}

.padding-icon{
	padding-right:20px !important;
}

.footer-block{
	position:relative;
	width: 100%;
	padding: 10px;
	color: #666;
}

.layout{
	padding-top: 10px; 
	padding-left: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	background-color: #039;
	width:100%;
	height:auto;
}

.container-custom{
	background-color:#FFF;
}

.display-area{
	padding: 20px 0px 20px 0px;
}

.textarea{
	font: Verdana, Geneva, sans-serif;
	font-size:14px;
	font-style:inherit;
	color:#333;
	resize:none !important;
	padding: 10px 10px 10px 10px;
	margin: 10px 20;
	width: 800px;
	height: 200px;
	border: 2px solid #999;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}

.img-display-area{
	font: Verdana, Geneva, sans-serif;
	font-size:14px;
	font-style:inherit;
	color:#333;
	resize:none !important;
	padding: 10px 10px 10px 10px;
	margin: 10px 20;
	width: 800px;
	height: 200px;
	border: 2px solid #999;
	box-shadow:inset #666 10px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}


.btn-align{
	position: absolute;
	color: #FFF;
	float: right;
}


.container-des{
	margin:auto;
	padding: 0px;
}

.separator{
	padding-top: 30px;
	width: auto;
	height: 80px;
	background-color:#06F;
	overflow:hidden;	
}


<!--Class area -->
#desc{
	font: inherit;
	color: #666;
}

  * {
    font-family: Verdana, Arial, sans-serif;
  }
  a:link {
    color:#000;
    text-decoration: none;
  }
  a:visited {
    color:#000;
  }
  a:hover {
    color:#33F;
  }
  .button {
    background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
    border: 1px solid #076bd2;
    border-radius: 3px;
    color: #fff;
    display: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.3;
    padding: 8px 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #076bd2;
    letter-spacing: normal;
  }
  .center {
    padding: 10px;
    text-align: center;
  }
  .final {
    color: black;
    padding-right: 3px; 
  }
  .interim {
    color: gray;
  }
  .info {
    font-size: 14px;
    text-align: center;
    color: #777;
    display: none;
  }
  .right {
    float: right;
  }
  .sidebyside {
    display: inline-block;
    width: 45%;
    min-height: 40px;
    text-align: left;
    vertical-align: top;
  }
  #headline {
    font-size: 40px;
    font-weight: 300;
  }
  #info {
    font-size: 20px;
    text-align: center;
    color: #777;
    visibility: hidden;
  }
  #results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
  }
  #start_button {
    border: 0;
    background-color:transparent;
    padding: 0;
  }